fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
google-cloud-vision==3.9.0
boto3==1.36.10
opencv-python-headless==4.10.0.84
numpy==1.26.4
requests==2.32.3
httpx==0.27.0
Pillow==11.1.0
pydantic==2.10.4
pydantic-settings==2.7.1
python-dotenv==1.0.1
deepface==0.0.93
tf-keras==2.19.0
